<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">
	
	<!-- controller 객체 -->	
	<bean class="controller.ContentController">
		<property name="contentService" ref="contentService"></property>
	</bean>
	
	<bean class="controller.RegistBookController">
		<property name="registBookService" ref="registBookService"></property>
	</bean>
	
	<bean class="controller.ListController">
		<property name="listService" ref="listService"/>
	</bean>
	
	<bean class="controller.SearchBookController">
		<property name="searchBookService" ref="searchBookService"></property>
	</bean>
	
	<bean class="controller.MemberRegController"></bean>
</beans>